<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
  <div class="flex flex-grow px-2 py-3 h-16 items-center from-main-500 to-main-700 bg-gradient-to-br text-font-100">
    <%= link_to new_user_session_path, class: 'w-2/12 text-xl' do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <span class="w-8/12 text-center font-semibold">CHANGE YOUR PASSWORD</span>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="flex flex-col mt-6">
    <% if @minimum_password_length %>
      <em class="text-sm text-font-400 mx-2">(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: 'New password' %>

    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm new password' %>

    <%= f.submit "Change my password", class: 'px-3 py-2 mt-3 bg-main-500 w-10/12 text-font-100 font-semibold self-center' %>
  </div>

<% end %>

<div class="text-center mt-10 text-font-300">
  <%= render "devise/shared/links" %>
</div>
